/*AqGoEs*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
header h1{
    padding-top: 10px;
}
header p{
    text-align: justify;
    padding: 15px;
}


.container{
    display: flex;
    background-color: aqua;
}
.container > div{
    background-color: blue;
    color: #fff;
    margin: 10px;
    line-height: 75px;
    font-size: 20px;
}
/*Médias Queries*/

@media screen and ( max-width: 600px)
{
    body{
        background-color: brown;
        color: #fff;
        font-size: 18px;
    }
    header h1{
        color: black;
    }
}

@media screen and ( max-width: 400px)
{
    body{
        background-color: brown;
        color: #fff;
    }
    header h1{
        color: black;
    }
    header p{
        font-size: 18px;
    }
}
.container > div{
    width: 250px;
    font-size: 15px;
    text-align: center;
    background-color: red;
    animation-name: exemple-01;
    animation-duration: 4s;
}


@keyframes exemple-01{
    from {
        background-color: red;
    }
    to{
        background-color: yellow;
    }
}