/*Desevolvedor aqgoes*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.cabecalho{
    width: 100%;
    height: 100px;
    background-color: #0b1247;
    color: #fff;
    box-shadow: 1px 3px 4px #000;
 }